# Portas publicadas na maquina local
ORACLE_PORT=1521
POSTGRES_PORT=5432
MONGO_PORT=27017

# Oracle (servico FREEPDB1)
ORACLE_PASSWORD=Oracle123
ORACLE_USER=petshop
ORACLE_USER_PASSWORD=Petshop123

# PostgreSQL
POSTGRES_DB=petshop_itabuna
POSTGRES_USER=petshop
POSTGRES_PASSWORD=Postgres123

# PostgreSQL da camada Gold (OLAP)
OLAP_POSTGRES_PORT=5433
OLAP_POSTGRES_DB=petshop_olap
OLAP_POSTGRES_USER=petshop
OLAP_POSTGRES_PASSWORD=Olap123

# MongoDB
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=Mongo123
MONGO_DATABASE=petshop_feira
